@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    cursor: pointer;
}

h2 {
    font-size: 1.3rem;
    text-align: center;
}

.enunciado {
    padding: 0 2rem;
}

body {
    background-color: #F4F0EA;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

header { 
    padding: 2rem;
    background-color: #CAE1FF;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} 

main {
    background-color: #B0C4DE;
    padding: 1rem;
    height: 70rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    align-content: space-around;
    gap: 1rem 2rem;
}

section {
    background-color: #F4F0EA;
    padding: 1.5rem;
    border: 0.15rem solid black;
    border-radius: 0.75rem;

    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 1rem;
    height: 57rem;
    width: 30rem;
    flex-basis: auto;

    cursor: pointer;
}

ul {
    padding: 0.75rem;

}

ul li {
    padding: 0 0.25rem;
}