<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calendário da Igreja</title>
        <meta name="description" content="Calendário com os eventos divulgados recentemente da igreja.">
        <link rel="stylesheet" href="static\style-homepage.css">
        <style>
            h1 {
                color: black;
                font-size: 2.25rem;
            }
            p {
                font-size: 1.1rem;
            }
        </style>
    </head>

    <body>
        <header>
            <h1>Calendário da Igreja</h1>
            <p class="enunciado">Aqui estão os últimos eventos divulgados</p>
        </header>
        <main class="container">
            <!--Evento 1 = Culto da Manhã-->
            <section class="cultoManha">
                <h2>Culto de Manhã</h2>
                <p>Ele ocorrerá na <abbr title="Nome da Igreja">igreja</abbr>:</p>
                <ul>
                    <li><em>Data:</em> Todos os domingos</li>
                    <li><em>Horário:</em> 08:35</li>
                    <li><em>Local:</em> Igreja, rua, bairro, cidade, estado</li>
                </ul>
            </section>
            <!--Evento 2 = Culto da Noite-->
            <section class="cultoNoite">
                <h2>Culto de Noite</h2>
                <p>Ele ocorrerá na <abbr title="Nome da Igreja">igreja</abbr>:</p>
                <ul>
                    <li><em>Data:</em> Todos os domingos</li>
                    <li><em>Horário:</em> 19:45</li>
                    <li><em>Local:</em> Igreja, rua, bairro, cidade, estado</li>
                </ul>
            </section>
            <!--Evento 3 = Rede de Jovens-->
            <section class="redeDeJovens">
                <h2>Rede de Jovens</h2>
                <p>Ele ocorrerá na <abbr title="Nome da Igreja">igreja</abbr>:</p>
                <ul>
                    <li><em>Data:</em> Todos os sábados</li>
                    <li><em>Horário:</em> 20:00</li>
                    <li><em>Local:</em> Igreja, rua, bairro, cidade, estado</li>
                </ul>
            </section>
            <!--Evento 4 = Dia de Ação de Graças (Rede de Jovens)-->
            <section class="diaDeAcaoDeGracas">
                <h2>Dia de Ação de Graças (Rede de Jovens)</h2>
                <p>Ele ocorrerá na <abbr title="Nome da Igreja">igreja</abbr>:</p>
                <ul>
                    <li><em>Data:</em> 29/11/2025</li>
                    <li><em>Horário:</em> 20:00</li>
                    <li><em>Local:</em> Igreja, rua, bairro, cidade, estado</li>
                </ul>
            </section>
        </main>
    </body>

</html>