<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calendário de Organização da Igreja</title>
        <meta name="description" content="Calendário de eventos da organização da igreja.">
        <link rel="stylesheet" href="static\style-organizacao.css">
    </head>

<body>
    <header>
        <h1>Organização da Igreja</h1>
        <p class="enunciado">Aqui estão as escalas da organização</p>
    </header>
    <main class="container">
        <!--Escalas do Louvor-->
        <section>
            <h2>Louvor</h2>
            <p>Ensaio:</p>
            <ul>
                <li>Ministros:</li>
                <ul>
                    <li>Pessoa 1</li>
                    <li>Pessoa 2</li>
                    <li>Pessoa 3</li>
                    <li>Pessoa 4</li>
                    <li>Pessoa 5</li>
                </ul>
            </ul>
            <ul>
                <li>Dia 1</li>
                <ul>
                    <li>Data: Todos os (dia do ensaio seamanal)</li>
                    <li>Horário: xx:xx</li>
                    <li>Local: Igreja, rua, bairro, cidade, estado</li>
                </ul>
                <li>Dia 2/1</li>
                <ul>
                    <li>Data: Todos os (dia do ensaio seamanal)</li>
                    <li>Horário: xx:xx</li>
                    <li>Local: Igreja, rua, bairro, cidade, estado</li>
                </ul>
                <li>Dia 2/2</li>
                <ul>
                    <li>Data: Todos os (dia do ensaio seamanal)</li>
                    <li>Horário: xx:xx</li>
                    <li>Local: Igreja, rua, bairro, cidade, estado</li>
                </ul>
            </ul>
            <p>Escala:</p>
            <ul>
                <li>Manhã:</li>
                <ul>
                    <li>Data: Todos os domingos</li>
                    <li>Horário: 08:45</li>
                    <li>Local: Igreja, rua, bairro, cidade, estado</li>
                </ul>
                <li>Noite:</li>
                <ul>
                    <li>Data: Todos os Domingos</li>
                    <li>Horário: 19:45</li>
                    <li>Local: Igreja, rua, bairro, cidade, estado</li>
                </ul>
            </ul>
        </section>
        <!--Escalas do Louvor-->
        <section>
            <h2>Mídia</h2>
            <p>Escala:</p>
            <ul>
                <li>Ministros:</li>
                <ul>
                    <li>Pessoa 1</li>
                    <li>Pessoa 2</li>
                    <li>Pessoa 3</li>
                    <li>Pessoa 4</li>
                    <li>Pessoa 5</li>
                </ul>
            </ul>
            <ul>
                <li>Manhã:</li>
                <ul>
                    <li>Data: Todos os domingos</li>
                    <li>Horário: 08:45</li>
                    <li>Local: Igreja, rua, bairro, cidade, estado</li>
                </ul>
                <li>Noite:</li>
                <ul>
                    <li>Data: Todos os Domingos</li>
                    <li>Horário: 19:45</li>
                    <li>Local: Igreja, rua, bairro, cidade, estado</li>
                </ul>
            </ul>
        </section>
    </main>
    
</body>
</html>